/sync
/packages/*
/working/*
/epkgs
**.elc
.#*
/html/archive.json
/html/recipes.json
/html/download_counts.json
/recipes/.dirstamp
/html/updates.rss
/elpa
/html/build-status.json
/download_log.json.gz
