<section>
  <a name="packages"></a>
  <h2>Current List of <span ng-bind="packages.length"></span> Packages
    <small ng-show="totalDownloads">(<span ng-bind="totalDownloads | number"></span> downloads to date)</small>
  </h2>
  <p>
    <input type="text" ng-model="gridOptions.filterOptions.filterText" placeholder="Enter filter terms" autofocus>
    <span class="muted">&nbsp;<ng-pluralize when="{1: '1 match', 'other': '{} matches'}" count="(packages | filter:packageMatcher(searchTerms)).length"/></span>
  </p>
  <div class="gridStyle" ng-grid="gridOptions"></div>
</section>
