{{ $build := include "build-status.json" | fromJson }}
{{ $download_counts := include "download_counts.json" | fromJson }}
{{ $total_downloads := include "total_downloads.json" | fromJson }}
{{ $packages := include "packages.json" | fromJson }}
{{ $epoch := "1970-01-01T00:00:00" | toDate "2006-01-02T15:04:05" }}
{{ include "partials/header.html" }}
<main class="container" id="content">
  <div>
    <section class="page-header">
      <h1>
        <span>MELPA</span>
        <small>(Milkypostman's Emacs Lisp Package Archive)</small>
      </h1>
    </section>
  </div>
  <div class="row">
    <div class="col-md-8">
      <section class="jumbotron">
        <ul>
          <li>
            <strong>Up-to-date packages built on our servers from upstream source</strong>
          </li>
          <li>
            <strong>Installable in any Emacs with 'package.el'</strong> - no local version-control tools needed
          </li>
          <li>
            <strong>Curated</strong> - no obsolete, renamed, forked or randomly hacked packages
          </li>
          <li>
            <strong>Comprehensive</strong> - more packages than any other archive
          </li>
          <li>
            <strong>Automatic updates</strong> - new commits result in new packages
          </li>
          <li>
            <strong>Extensible</strong> - contribute new recipes, and we'll build the packages
          </li>
        </ul>
      </section>
    </div>
    <div class="col-md-4">
      {{ if $build.completed }}
      <div class="alert alert-success">
        <strong>Next Build: </strong>
        <span>{{ date_modify (printf "+%.0fs" $build.next) $epoch | date "Mon, 02 Jan 2006 15:04:05 -0700" | humanize "time" }}</span>
      </div>
      {{ else }}
      <div class="alert alert-warning">
        <strong>Current build started: </strong>
        <span>{{ date_modify (printf "+%.0fs" $build.started) $epoch | date "Mon, 02 Jan 2006 15:04:05 -0700" | humanize "time" }}</span>,
        <span>last took {{ $build.duration | toString | duration | durationRound }}</span>
      </div>
      {{ end }}
    </div>
  </div>
  <section id="packages">
    <h2>
      Current List of {{ len $packages }} packages
      <small>
        {{ printf "%.0f" $total_downloads.total }} downloads to date
      </small>
    </h2>
    <table id="package-list" class="table table-bordered table-responsive table-hover">
      <thead>
        <tr>
          <th>
            Package
            <span class="glyphicon glyphicon-chevron-down"></span>
          </th>
          <th>
            Description
          </th>
          <th>
            Version
          </th>
          <th>Recipe</th>
          <th>
            Source
          </th>
          <th>
            DLs
          </th>
        </tr>
      </thead>
      <tbody>
        {{ range slice $packages 0 50 }}
        <tr>
          <td>
            <a href="/packages/{{ .name }}">
              {{ .name }}
            </a>
          </td>
          <td>
            <a href="/packages/{{ .name }}">
              {{ .description }}
            </a>
          </td>
          <td class="version">
            <a href="{{ printf "packages/%s-%s.el" .name .version }}">
              {{ .version }}
              <span class="glyphicon glyphicon-download"></span>
            </a>
          </td>
          <td class="recipe">
            <a href="{{ printf "https://github.com/melpa/melpa/blob/master/recipes/%s" .name }}">
              <span class="glyphicon glyphicon-cutlery"></span>
            </a>
          </td>
          <td class="source">
            {{ if .source }}
            <a href="{{ .source }}">
              {{ .recipe.fetcher }}
            </a>
            {{ else }}
            {{ .recipe.fetcher }}
            {{ end }}
          </td>
          <td>{{ default 0.0 (get $download_counts .name) | printf "%.f" }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </section>
</main>
{{ include "partials/footer.html" }}
