% MELPA

*MELPA* or *Milkypostman's ELPA* or *Milkypostman's Experimental Lisp Package Repository* if you're not into the whole brevity thing.

> a repository for development versions of Emacs packages (hot from the repo).

## Installing

To add the repository put this before the call to `package-initialize`
in your `init.el` file.

    (add-to-list 'package-archives
                 '("melpa" . "http://melpa.milkbox.net/packages/") t)

Please read about [known issues](#known-issues) below before
attempting to install multiple packages at once.

## Known Issues

Due to the way the HTTP routing works on my provider, the HTTP/1.1
connection will time out for long package installs -- where the
package is large and takes a while to compile -- like *magit* or *evil*.

    (setq url-http-attempt-keepalives nil)

This makes things a tad more slow but means that the install completes
correctly. Otherwise the connection times out and the install goes haywire.

## Updating Packages

`package.el` now includes a mechanism to upgrade packages.  After running `package-list-packages`, type *u* (mark Upgradable packages) and then *x* (eXecute the installs and deletions).  When it's done installing all the packages it will ask if you want to delete the obsolete packages and so you can hit *y* (Yes).

If you run into a problem installing or upgrading, you may need to go into your `~/.emacs.d/elpa/` directory and delete packages that are installed multiple times.  This can happen when the install times out (see [Known Issues](#known-issues)).

## Development

[https://github.com/milkypostman/melpa](https://github.com/milkypostman/melpa)

Contributions are welcome.  Currently, the builder only supports
packages using git, subversion, mercurial, and darcs.  This covers
most of the packages that I am interested in.


## Current List of Packages being Generated Nightly

<!--list-of-packages-->

