body {
    margin-top: 1.0em;
    background-color: #922793;
    font-family: Verdana, Helvetica, Arial, FreeSans, san-serif;
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
}

#container {
    margin: 0 auto;
    width: 730px;
}

h1 {
    font-size: 3.8em;
    color: #00ad00;
    color: #ff6622;
    /* color: #6dd86c; */
    margin-bottom: 3px;
}

h1 .small {
    font-size: 0.4em;
}

h1 a {
    text-decoration: none }

h2 {
    font-size: 1.5em;
    color: #00ad00;
    color: #6dd86c;
}

h3 {
    /* text-align: center; */
    color: #00ad00;
    color: #6dd86c;
}

a {
    color: #8f3591;
    color: #ee3333;
    /* color: #6dd86c; */
    text-decoration: none;
}

pre code {
    padding: 0px;
}

pre {
    background: #000;
    color: #fff;
    padding: 15px;}
hr {
    border: 0;
    width: 80%;
    border-bottom: 1px solid #aaa;
}

.footer {
    text-align:center;
    padding-top:30px;
    font-style: italic;
}

table {
    width: 730px;
    border-spacing: 0px;
    border-top: 1px solid #ccc;
    border-top: 1px solid #777;
/* border-bottom: 1px solid #ccc; */
}

td, th {
    padding: 2px 7px 2px 7px;
}

tr.header {
    color: #000;
    background-color: #fad;
    text-align: left;
    font-size: 110%;
}

tr.odd {
    background-color: #ccc;
    background-color: #800083;
}

