#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 800px;
    border-spacing: 0px;
    border-top: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
}

td, th {
    padding: 2px 7px 2px 7px;
}

tr.header {
    background-color: #fad;
    text-align: left;
    font-size: 110%;
}

tr.odd {
    background-color: #ccc;
}

