{%- set stable = (request.host == 'stable.melpa.org') %}
{%- set archive_name = "MELPA Stable" if stable else "MELPA" %}
<!DOCTYPE html>
<html lang="en-US" class="{% if stable %}stable{% endif %}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% if page_title %}{{page_title}} | {% endif %}{{ archive_name }}</title>
  <meta name="description" lang="en" content="{{ page_description | e }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Melpa" >
  <link href="/updates.rss" rel="alternate" title="{{ archive_name }} updates" type="application/rss+xml">
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/melpa.css" type="text/css">
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand archive-name">{{ archive_name }}</a>
      </div>
      <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/getting-started">Getting started</a></li>
          <li><a href="https://github.com/melpa/melpa">GitHub</a></li>
          <li><a href="https://twitter.com/melpa_emacs">Twitter</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="other-melpa-link" href="https://{% if not stable %}stable.{% endif %}melpa.org">
              <span class="glyphicon glyphicon-arrow-right"></span>
              {% if stable %}MELPA{% else %}MELPA Stable{% endif %}
          </a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="container" id="content">
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
