<style>
#jslicense-labels1 td,th {
  padding: 4px;
}
</style>
<table id="jslicense-labels1">
  <thead>
    <tr>
      <th>Script</th>
      <th>License</th>
      <th>Source</th>
    </tr>
  </thead>
  <tr>
    <td><a href="https://cdnjs.cloudflare.com/ajax/libs/mithril/0.2.5/mithril.min.js">mithril.min.js</a></td>
    <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
    <td><a href="https://cdnjs.cloudflare.com/ajax/libs/mithril/0.2.5/mithril.js">mithril.js</a></td>
  </tr>
  <tr>
    <td><a href="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js">moment.min.js</a></td>
    <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
    <td><a href="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js">moment.js</a></td>
  </tr>
  <tr>
    <td><a href="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js">lodash.min.js</a></td>
    <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
    <td><a href="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js">lodash.js</a></td>
  </tr>
  <tr>
    <td><a href="https://cdnjs.cloudflare.com/ajax/libs/Cookies.js/1.2.1/cookies.min.js">cookies.min.js</a></td>
    <td><a href="http://unlicense.org/UNLICENSE">Unlicense</a></td>
    <td><a href="https://cdnjs.cloudflare.com/ajax/libs/Cookies.js/1.2.1/cookies.js">cookies.js</a></td>
  </tr>
  <tr>
    <td><a href="/js/melpa.js">melpa.js</a></td>
    <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0-or-later</a></td>
    <td><a href="/js/melpa.js">melpa.js</a></td>
  </tr>
</table>
